<div class="ui container">
<h1>Warenkorb</h1>
<div class="ui middle aligned selection divided list">
  <a *ngFor="let book of books" class="item bs-book-list-item"
     [book]="book" [routerLink]="['../books/', book?.isbn]">
  </a>
  <div *ngIf="books">
    <hr>
    Gesamtpreis: {{this.price}}€
  </div>

  <!--div *ngIf="books" class="ui active dimmer">
    <div class="ui large text loader">Daten werden geladen...</div>
  </div-->
  <br/>
  <button *ngIf="authService.isLoggedIn() && books" class="ui tiny red labeled icon button" (click)="orderBooks()">
    <i class="shopping basket icon"></i>Bestellen
  </button>

  <p *ngIf="!books">Dein Warenkorb ist leer</p>
</div>
</div>