<img class="ui tiny image"
     *ngIf="book.images && book.images[0]; else noPic"
     [src] = "book.images[0].url">
<ng-template #noPic>
    <img class="ui tiny image" [src]= "['../assets/NoPic.png']" >
</ng-template>
<div class="content">
  <div class="header">{{book.title}}</div>
  <div class="header">Menge: {{position.amount}}</div>
  <div class="description">{{book.subtitle}}</div>
  <div class="metadata">
        <span *ngFor="let author of book.authors; last as l">
          {{author.firstName}} {{author.lastName}}<span *ngIf="!l">, </span>
        </span>
  </div>
  <div class="extra">ISBN: {{book.isbn}}</div>
  <div class="extra">Preis: {{position.brutto_price}}€</div>
</div>

<div *ngIf="!book" class="ui active dimmer">
    <div class="ui large text loader">Daten werden geladen...</div>
</div>
