<div class="ui container">
<h1>Bewertung des Buches {{this.book.title}}</h1>
<img class="ui tiny image"
     *ngIf="book.images && book.images[0]"
     [src] = "book.images[0].url">
<form  class="ui large form" [formGroup]="myForm" (ngSubmit)="submitForm()">
  <input type="hidden" name="id">
  <div class="field">
    <label>Sterne</label>
    <!--input formControlName="rating"-->
      <select formControlName="rating" required class="ui search dropdown">
        <option value="">Wähle Anzahl der Sterne</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select>
    <div *ngIf="errors.rating" class="ui negative message"> {{ errors.rating}} </div>
    <!--div *ngIf="errors.rating" class="ui negative message"> {{ errors.rating }} </div-->
  </div>
  <div class="field">
    <label>Beschreibung</label>
    <textarea formControlName="description" rows="3" required></textarea>
    <div *ngIf="errors.description" class="ui negative message"> {{ errors.description}} </div>
  </div>

  <button type="submit" class="ui button" [disabled]="myForm.invalid">Speichern</button>
</form>
</div>