<div class="ui container">
<div class="ui grid" *ngIf="this.order">
    <div class="content">
      <h1 class="header">Bestelldetails</h1>
      <div class="h2">Bestellt am {{order.ordered}} | Bestellnummer:{{order.id}}</div><br/>
      <div class="metadata">
        <p><b>Folgende Bücher wurden bestellt:</b></p>

        <span class="item" *ngFor="let book of this.books; last as l" [routerLink]="['../../books/', book?.isbn]">
          <span *ngFor="let position of this.orderposition; last as l">
            <div class=" ui middle aligned selection divided list">
              <a *ngIf="position.book_id == book.id" class="item bs-order-detail-book-item"
                    [book]="book" [position]="position">
              </a>
            </div>
          </span>
        </span>


      <hr/>
        Summe ohne MwSt.: <span>{{order.netto_price}}€</span><br/>
        Anzurechnende MwSt.: 10%<br>
        Summe mit MwSt.: <span>{{order.brutto_price}}€</span><br/>
        <div style="border-top: 1px solid black">
        Gesamtpreis: <span>{{order.total_price}}€</span><br/>
        </div>

        <!--Bruttopreis: <span>{{order.brutto_price}}€</span><br/-->

      </div>
    </div>
</div>

  <div *ngIf="!this.orderposition" class="ui active dimmer">
    <div class="ui large text loader">Daten werden geladen...</div>
  </div>

<button style="margin-top: 20px" [routerLink]="['../../login']" class="ui red button">Zurück zu den Bestellungen</button>
</div>
