<div class="ui container">
<div>
  <h1>Deine Bestellungen:</h1>
</div>
<div class="ui middle aligned selection divided list">
  <a *ngFor="let order of orders" class="item" [routerLink]="['../order', order?.id]">
    <div class="content">
      <div class="header">Bestellnummer:{{order.id}}</div>
      <div class="description">Bestellt am {{order.ordered}} <br/> {{order.total_price}}€</div>
    </div>
  </a>


  <div *ngIf="!orders" class="ui active dimmer">
    <div class="ui large text loader">Daten werden geladen...</div>
  </div>
  <p *ngIf="orders && !orders.length">Sie haben noch keine Bestellungen getätigt.</p>
</div>
</div>