<div class="ui container">
<h1>Buchformular</h1>
<form  class="ui large form" [formGroup]="myForm" (ngSubmit)="submitForm()">
  <input type="hidden" name="id">
  <div class="field">
    <label>Buchtitel</label>
    <input formControlName="title">
    <div *ngIf="errors.title" class="ui negative message"> {{ errors.title }} </div>
  </div>
  <div class="field">
    <label>Untertitel</label>
    <input formControlName="subtitle">
  </div>
  <div class="field" [class.disabled]="isUpdating">
    <label>ISBN-Nummer</label>
    <input required minlength="5" maxlength="20" formControlName="isbn">
    <div *ngIf="errors.isbn" class="ui negative message">{{ errors.isbn }} </div>
  </div>
  <div class="field">
    <label>Preis</label>
    <input formControlName="price" required pattern="[0-9\.]*">
    <div *ngIf="errors.price" class="ui negative message">{{ errors.price }} </div>
  </div>
  <div class="field">
    <label>Erscheinungsdatum</label>
    <input type="date" useValueAsDate formControlName="published">
    <div *ngIf="errors.published" class="ui negative message">{{ errors.published }}</div>
  </div>


  <div class="field">
    <label>Beschreibung</label>
    <textarea formControlName="description" required rows="3"></textarea>
    <div *ngIf="errors.description" class="ui negative message">{{ errors.description }}</div>
  </div>
  <div class="field">
    <label>Bilder</label>
    <div formArrayName="thumbnails">
      <div class="fields" *ngFor="let control of thumbnails.controls; index as i; last as l" [formGroupName]="i">
        <input type="hidden" name="id">
        <div class="nine wide field">
          <input formControlName="url" placeholder="http://bild{{i+1}}_url">
        </div>
        <div class="six wide field">
          <input formControlName="title" placeholder="Bild{{i+1}}_Titel">
        </div>
        <div class="one wide field" *ngIf="l">
          <button (click)="addThumbnailControl()" class="ui large button" type="button">+</button>
        </div>
      </div>
    </div>
  </div>
  <div class="field">
    <label>Autoren</label>
<div class="fields">
  <div class="seven wide field">Bereits hinzugefügt<br/>
        <span  *ngFor="let author_book of this.book.authors">
              <div>
                <button (click)="removeAuthor(author_book.id)" class="ui large button" type="button">-</button>
                <label>
                  <span>{{author_book.firstName}}</span>
                  <span>{{author_book.lastName}}</span>
                </label>
              </div>
          </span>
    </div>
      <div class="seven wide field">Alle Autoren<br/>
        <span *ngFor="let authors of this.Allauthors">
          <span *ngIf="buildOthersArray(authors.id)">
            <div>
                <button (click)="addAuthor(authors.id)" class="ui large button" type="button">+</button>
                <label>
                  <span>{{authors.firstName}}</span>
                  <span>{{authors.lastName}}</span>
                </label>
            </div>
          </span>
            </span>
  </div>
</div>
  </div>
  <button type="submit" class="ui button" [disabled]="myForm.invalid">Speichern</button>
</form>
</div>