<div *ngIf="!isAdmin()" class="ui four item tabs menu">
  <a routerLink="home" routerLinkActive="active" class="item">Home</a>
  <a routerLink="books" routerLinkActive="active" class="item">Bücher</a>
  <a routerLink="shoppingcart" routerLinkActive="active" class="item">Warenkorb</a>
  <!--a *ngIf="isLoggedIn() && isAdmin()" routerLink="admin" routerLinkActive="active" class="item">Administration</a-->
  <a routerLink="login" routerLinkActive="active" class="item">
    {{getLoginLabel()}}
  </a>
</div>
<div *ngIf="isAdmin()" class="ui five item tabs menu">
  <a routerLink="home" routerLinkActive="active" class="item">Home</a>
  <a routerLink="books" routerLinkActive="active" class="item">Bücher</a>
  <a routerLink="shoppingcart" routerLinkActive="active" class="item">Warenkorb</a>
  <a *ngIf="isLoggedIn() && isAdmin()" routerLink="admin" routerLinkActive="active" class="item">Administration</a>
  <a routerLink="login" routerLinkActive="active" class="item">
    {{getLoginLabel()}}
  </a>
</div>

<router-outlet></router-outlet>