<div class="ui container">
<div class="ui grid" *ngIf="book">
  <div class="four wide column">
    <img class="ui large image" *ngIf="book.images && book.images[0]; else noPic"
         [src]="book.images[0].url">
    <ng-template #noPic>
      <img class="ui large image" [src]= "['../assets/NoPic.png']" >
    </ng-template>
  </div>
  <div class="twelve wide column">
    <h1 class="ui header">{{ book.title }}</h1>
    <button class="ui tiny red labeled icon button" (click)="saveLocal()">
      <i class="<i shopping cart icon"></i>In den Warenkorb
    </button>
    <h3 class="ui header">{{ book.subtitle }}</h3>
    <div class="ui divider"></div>
    <div class="ui grid">
      <div class="five wide column">
        <h4 class="ui header">Autoren</h4>
        <span *ngFor="let author of book.authors; last as l">
         {{ author.firstName }} {{ author.lastName }}<span *ngIf="!l">, </span>
       </span>
      </div>
      <div class="five wide column">
        <h4 class="ui header">ISBN</h4>
        {{ book.isbn }}
      </div>
      <div class="five wide column">
        <h4 class="ui header">Erschienen</h4>
        {{ book.published }}
      </div>
      <div class="five wide column">
        <h4 class="ui header">durchschnittliche Bewertung</h4>
        <div *ngIf="book.reviews.length > 0; else test">
          <span *ngFor="let r of getAverageRating(this.book)" >
            <i class="yellow star icon"></i>
          </span>
        </div>
        <ng-template #test>Noch keine Bewertung vorhanden.</ng-template>
      </div>
      <div class="five wide column">
        <h4 class="ui header">Preis</h4>
        {{ book.price }}€
      </div>

    </div>
  </div>
  <div class="sixteen wide column">
    <h3 class="ui header">Beschreibung</h3>
    {{ book.description }}
  </div>
  <div class="sixteen wide column">
    <div class="ui small images">
      <img *ngFor="let thumbnail of book.images" [src]="thumbnail.url">
    </div>
  </div>
  <!--button (click)="showBookList()" class="ui red button">Zurück zur Buchliste</button-->
  <div *ngIf="book.reviews.length > 0">
    <h2>Bewertungen für dieses Buch</h2>
    <span *ngFor="let review of book.reviews">
         <fieldset style="margin-top: 10px"><legend>User {{ review.user_id }} hat folgend bewertet <i *ngFor="let r of getRating(review.rating)" class="yellow star icon"></i></legend>
           {{ review.description }}
         </fieldset>
    </span>
  </div>


</div>
<br/><br/>
<a *ngIf="authService.isLoggedIn()" class="ui tiny green labeled icon button" [routerLink]="['../../rate', book?.isbn]">
  <i class="smile icon"></i>Buch bewerten
</a>

<a *ngIf="authService.isLoggedIn() && authService.isAdmin()" class="ui tiny yellow labeled icon button" [routerLink]="['../../admin', book?.isbn]">
  <i class="write icon"></i>Buch bearbeiten
</a>

<button *ngIf="authService.isLoggedIn() && authService.isAdmin()" class="ui tiny red labeled icon button" (click)="removeBook()">
  <i class="remove icon"></i>Buch löschen
</button>
</div>